*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.weights
arapaho/input*
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
src/zed.cpp
darknet
darknet-cpp
bad.list
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
